$white: #ffffff;
$black: #000000;
$light-grey: #f5f5f5;
$black-0-05: #7f7f7f; // rgba(0, 0, 0, 0.5);
$black-18-05: #888888; // rgba(18, 18, 18, 0.5);
$dark-grey: #121212;
$orangish: #fc9147;
$dark-blue: #000054;
$aquamarine: #00dcb4;
$greyish-brown-1: #555555;
$bright-cyan: #50d2ff;
$marigold: #fac800;
$red: #d0021b;
$greyish-brown-2: #4a4a4a;
$medium-grey: #d8d8d8;
$bright-blue: #00c0ff;
$dark-blue: #040054;
$mid-blue: #323376;
$x-light-grey: #fafafa;
